@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #0f184b;
  align-items: center;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
.container {
  border: 10px solid #34568b;
  position: relative;
  padding: 10 10 0 10;
  color: white;
  width: 30vw;
  height: 300px;
  opacity: 0.9;
  background-color: #001f3f;
}
#button {
  position: absolute;
  background-color: #34568b;
  border: 0px;
  font-family: "Roboto";
  font-size: 18px;
  width: 30%;
  height: 15%;
  top: 230px;
  color: rgb(255, 255, 255);
  left: 20px;
}
#text {
  font-family: "Inconsolata";
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  display: block;
  padding: 10px 5px 0 5px;
}
#Author {
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  font-family: "Lobster";
}
#tweet {
  position: absolute;
  color: blue;
  width: 60px;
  border-radius: 100%;
  height: 60px;
  right: 0;
  left: 80%;
  top: 220px;
  border: 0px;
}
#twit-img {
  margin-top: 5px;
  width: 40px;
}
#button:hover {
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  #twit-img {
    width: 40px;
  }
  .container {
    min-width: 60vw;
  }
  #text {
    font-size: 0.95rem;
  }
  #tweet {
    left: 70%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    min-width: 80vw;
    min-height: 400px;
  }
  #text {
    font-size: 1rem;
  }
  #button {
    top: 320px;
    font-size: inherit;
  }
  #tweet {
    top: 320px;
  }
}
